*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
.box{
    height:100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.box1{
    height:115%;
    width: 95.50%;
    background-color: rgb(255, 51, 0);
    position: absolute;
    top:20px;
    bottom: 20px;
    right:28px ;
    left:28px;
    border: 2px solid black;
    
}
.box2{
    height:33%;
    width: 100%;
    background-color: rgb(156, 58, 25);
    position: absolute;
  right:0px;
  left: 0px;
}
.box3{
    height:42%;
    width: 13%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:30px;
  left:1092px;
  border-radius: 10px;
}
.box4{
    height:42%;
    width: 13%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:30px;
  left:890px;
  border-radius: 10px;
}
.box5{
    height:42%;
    width: 13%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:30px;
  left:688px;
  border-radius: 10px;
}
.box6{
    height:42%;
    width: 13%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:30px;
  left:491px;
  border-radius: 10px;
}
.box7{
    height:21%;
    width: 51%;
    background-color: rgb(66, 66, 66);
    position: absolute;
    top:190px;
  left:0px;
}
.box8{
    height:21%;
    width: 51%;
    background-color: rgb(15, 73, 41);
    position: absolute;
    top:190px;
  right:0px;
}
.box9{
    height:45%;
    width: 20%;
    background-color: rgb(52, 253, 210);
    position: absolute;
    top:10px;
  right: 10px;
}
.box10{
    height:77%;
    width: 100%;
    background-color:burlywood;
    position: absolute;
  left: 0px;
  bottom: 163px;
}
.box11{
    height:264px;
    width: 1259px;
    background-color: rgb(0, 0, 0);
    position: absolute;
  left: 14px;
  right:10px;
  bottom: 25px;
}
.box12{
    height:16%;
    width: 100%;
    background-color: rgb(13, 6, 114);
    position: absolute;
  /* right:0px;
  left: 0px; */
  bottom: 0px;
}

.box13{
    height:100%;
    width: 20%;
    background-color: rgb(255, 168, 6);
    position: absolute;
    top:224px;
    right: 1126px;
    border-radius: 5px;
}
.box14{
    height:100%;
    width: 20%;
    background-color: rgb(255, 168, 6);
    position: absolute;
    top:224px;
    right: 965px;
    border-radius: 5px;
  
}
.box15{
    height:200px;
    width: 152px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:284px;
    right: 38px;
    border-radius: 5px;
    border: 2px solid  rgb(0, 0, 0) ;
  
}



.box16{
    height:200px;
    width: 152px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:305px;
    right: 84px;
    border-radius: 5px;
    border: 2px solid  rgb(0, 0, 0) ;
  
}
.box17{
    height:163px;
    width: 1284px;
    background-color: rgb(247, 169, 169);
    position: absolute;
     top:545px;
    right: 0px;
}
.box18{
    height:90px;
    width: 563px;
    background-color: rgb(20, 241, 212);
    position: absolute;
    left: 23px;
    bottom: 0px;
}
.box19{
    height:164px;
    width: 643px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 641px;
    right: 0 px;
    bottom: 0px;
}
.box20{
    height:143px;
    width: 605px;
    background-color: rgb(24, 248, 248);
    position: absolute;
   left: 19px;
   bottom: 11px;
}
.box21{
    height:45px;
    width: 605px;
    background-color: rgb(66, 66, 66);
    position: absolute;
 
}
 